 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body,html {
height: 100%;
width: 100%;
 }


 #main
 
 {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
 }

 form 
 {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;

 }
 

 #card 
 {

    width: fit-content;
    border-radius: 1rem;
    margin-top: 2rem;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20rem;
    padding: 1rem;
}

#card #profile
{
    border-radius: 0.5rem;
    border: 1px solid green;
    width: 100%;
    height: 40%;
}

#card #profile img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}