 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body,html {
height: 100%;
width: 100%;
color: white;
overflow: hidden;
 }

 main{
    background: #000;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#but
{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;

}

button
{
    padding: 1rem;
    width: 5rem;
    border-radius: 1rem;
}
button:hover
{
    background: green;
}