 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body,html {
height: 100%;
width: 100%;
background: #000;
color: white;
cursor: none;

}


img
{
    height: 1.7rem;
    position: fixed;
    transform: translate(-50%,-50%);
}