 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body,html {
height: 100%;
width: 100%;
display: flex;
justify-content: center; 
align-items: center;
flex-direction: column;


}


 #box
 {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin-bottom: 2rem;
 }

 button
 {

    padding: 1.6rem;
    border-radius: 3rem;
 }

 button:active
 {
    background-color: green;
 }