 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body,html {
height: 100%;
width: 100%;
 }

 main 
 {
    width: 100%;
    background: black;
    padding: 3rem  5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: row;
    
}

 .card
 {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 27rem;
    width: 20rem;
    border-radius: 2rem;
    border: 2px solid white;
    background-color: aquamarine;
}


 .card img
 {
    border-radius: 50%;
    height: 50%;
    width: 60%;
    margin-bottom: 2rem;
 }

 .name
 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center  ;
    white-space: nowrap;
 }

 .Profe 
 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
 }
 .desc
 {
    text-align: center;
    color: gray;
}

 span
 {
    color: black;
    font-size: 1rem;
    font-weight: 700;
 }
