 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body,html {
height: 100%;
width: 100%;
color: white;
}

 #main
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: black;
}

#section
{
    height: 20rem;
    width: 50rem;
    border: 2px solid white;
    padding: 0 2rem  ;
    border-radius: 2rem;

}

#section h1 
{
    margin-top: 1rem;
    text-align: center;
}
#section .outer
{
    margin-top: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 1rem;
}

#section .inner
{
    width: 0%;
    border-radius: 1rem;
    height: 100%;
    background: green;
}


#section button 
{
    border: none;
    border-radius: 3rem;
    padding: 1.4rem;
    font-size: 1.4rem;
}
#section button:active
{
    background-color: blue;
    color: white;
}

.shower
{
    align-items: center;

    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.shower h1 
{
    font-size: 3rem;
}