@mixin ButttonStyler($bg-color,$text-color:black, $height:10%, $width:10%, $font-size:16px)
{
        color: $text-color;
        background: $bg-color;
        height: $height;
        width: $width;
        font-size: $font-size;
}