 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body,html {
height: 100%;
width: 100%;
 }

main
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(./trophy.jpg);    
    /* background-image: url("https://i.pinimg.com/736x/0d/93/52/0d9352eac1c25bcb579a53f4025b98b1.jpg");     */
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


h1
{
    color: rgb(255, 0, 0);
    font-size: 5rem;
}


.box
{
    height: 25rem;
    padding: 3rem;
    /* background: rgba(187, 187, 246, 0.751); */
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    position: relative;
}

button
{

    padding: 1.4rem;
    width: 13rem;
    border-radius: 2rem;
}

button:active
{
    background: rgb(105, 105, 255);
}

.box img 
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    bottom: 50%;
    transform: translate(-9%,-50%);
    border-radius: 2rem;
    /* display: none; */
    z-index: 0;
}

.box h1
{
    z-index: 10;
    position: relative;
    text-align: center;
    top: 16rem;
    border-radius: 3rem;
    background-color: rgba(240, 248, 255, 0.485);
    
}

.inner{

    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}   
.box .inner p
{
    z-index: 10;
    /* background: green; */
    position: relative; 
        background-color: rgba(240, 248, 255, 0.485);
    left: 2rem;
    top: 7rem;
    border-radius: 1rem;

}
