 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
 }
 body,html {
height: 100%;
width: 100%;
 }


 main{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
section
{
    max-width: 2000px;
}



#view1{

    gap: 2rem;
//    background-color: green;
         background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    
    .v10
    {
        width: 100%;
    
        img{
            width: 100%;
            border-radius: 1.4rem;
            height: 100%;

        }
        
    }

    .v11
    {
        border-radius: 1.4rem;
        background-color: #1E1E1E;
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .up
        {
            margin-bottom: 3rem;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 300;
        }

        .down
        {
            h1
            {
                width: 100%;
                font-size: 3.3em;
                margin-bottom: 1rem;
                font-weight: 200;
            }
            #downer
            {
                line-height: 1.5;
                font-size: 1.4rem;
                margin-bottom: 1rem;
                    color: #949391;

            }
            
            #downer2
            {
                display: flex;
                gap: 1rem;
                align-items: center;
                 

                h3 {
                    padding: 1rem;
                    border: 2px solid white;
                    border-radius: 50%;
                }
                p {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                }
            }
            
        }
    }

}


#view2
{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;

    
   
    
    .up h1 
    {

        font-size: 1.2em;
        margin-bottom: 0.3rem;
        color: #a6a5a4;
        font-weight: 200;
        
    }
    .up p 
    {
        font-size: 3rem;
        font-weight: 200;
        margin-bottom: 3rem;

    }

    .down h1
    {
        font-size: 1.2em;
        margin-bottom: 0.3rem;
        color: #a6a5a4;
        font-weight: 200;
    }
    .down p 
    {
          font-size: 3rem;
        font-weight: 200;
    }


   .upper h1 
   {
      font-size: 1.2em;
        margin-bottom: 0.3rem;
        color: #a6a5a4;
        font-weight: 200;
        
   } 
   .upper p 
   {
      font-size: 3rem;
        font-weight: 200;
        margin-bottom: 3rem;

   }
   .downer h1 
   {
    font-size: 1.2em;
        margin-bottom: 0.3rem;
        color: #a6a5a4;
        font-weight: 200;
   }
   .downer p {
     font-size: 3rem;
        font-weight: 200;
   }

}

#view3
{
    width: 100%;

        .upper{
    // border: 2px solid green;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

            img{
                border-radius: 1.4rem;
                margin-bottom: 1rem;
            }
    
        }

        .u{
            padding: 1.4rem;
            background-color: #1E1E1E;
            border-radius:1.4rem ;


                .u1
                {
                    margin-bottom: 4rem;
                    font-size: 1rem;
                }
                .u2
                {
                    h1
                    {
                        margin-bottom: 1rem;
                        font-weight: 200;
                    }
                    
                    div p {
                    color: #949391;

                    }

                }

            
        }

        .lower{
    // border: 2px solid green;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

            img{
                border-radius: 1.4rem;
                margin-bottom: 1rem;
            }
    
        }

        .u{
            padding: 1.4rem;
            background-color: #1E1E1E;
            border-radius:1.4rem ;


                .u1
                {
                    margin-bottom: 4rem;
                    font-size: 1rem;
                }
                .u2
                {
                    h1
                    {
                        margin-bottom: 1rem;
                        font-weight: 200;
                    }
                    
                    div p {
                    color: #949391;

                    }

                }

            
        }

}


#view4{
        width: 100%;
        display: flex;
        flex-direction: column;

        #tup{
            
            // border: 2px solid green;
            margin-bottom: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.4rem ;
                #tup1
                {
                width: fit-content;
                font-size: 2.0rem;

                }
                #tup2
                {
                    
                display: flex;
                width: fit-content;
                align-items: center;
                gap: 0.7rem;
                    h2
                    {
                    padding: 0.4rem;
                    border: 2px solid white;
                    border-radius: 50%;
                    font-size: 80%;
                    }
                }


        }
        #tdown
        {
            // border: 2px solid blue;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            :nth-child(2).content
            {
                background-image: url("./heroi1.webp");
            }

            :nth-child(3).content
            {
                background-image: url("./heroi3.webp");
            }

            .content
            {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-image: url("./m1.png");
                background-position: center;
                background-size: cover;
                aspect-ratio: 1/1;
                padding: 1rem;

                    .cup
                    {

                        display: flex;
                        justify-content: end;
                        gap: 1rem;
                        
                        h1{
                            font-size: 1rem;
                            font-weight: 100;
                            border: 1px solid white;
                            padding: 0.4rem;
                            border-radius: 50%;
                            background-color: rgba(169, 166, 166, 0.444);
                            backdrop-filter: blur(5px);
                        }

                    }
                    .cdown
                    {
                        display: flex;
                        justify-content: space-between;
                        padding: 1.5rem;
                        width: 100%;
                        border-radius: 1.2rem;
                       background-color: rgba(169, 166, 166, 0.444);
                        backdrop-filter: blur(5px);


                    }
            } 

        }
}

#view5
{
    margin-top: 1rem;
    width: 100%;
    border:2px solid red;
    background-color: #CEBD63;
    padding: 2rem;
    border-radius: 1.4rem;
 

    .up h3
    {
        font-weight: 300;
        color: black !important ;
        margin-bottom: 0.6rem;
        font-size: 1rem;
    }

    .up h2 
    {
        color: black;
        font-weight: 200;
        margin-bottom: 1.5rem;
        font-size: 3rem;
    }

    .down
    {
        
        background-color: pink;
        width: 100%;
        padding: 0.6rem 0;
        text-align: center;
        background-color: black;
        font-size: 80%;
        span
        {
            margin-right: 0.4rem;
        }
    }
    
}

@media(min-width:1000px)
{
    main{
        #view1 {
            flex-direction: row;
            gap: 1rem;
        }
        .v11{
            // border: 2px solid green;
        }
        .v10{
            img 
            {
                background-size: cover;
                background-position: center;
            }
        }



        #view2{
            
            width: 100%;
            // background-color: aquamarine;
            justify-content: center; 
            .vl
            {
                display: flex;
                justify-content: space-around;
                width: 50%;
                
            }
            .vr 
            {
                display: flex;
                justify-content: space-around;
                width: 50%;

            }
        }


        #view3
        {
            .upper{
                flex-direction: row-reverse;
                gap: 1rem;

                img 
                {
                    width: 50%;
                    
                }

                .u
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 3.0rem;
                    .u2
                    {
                        h1
                        {
                            font-size: 3.4rem;
                        }
                        .paragraphers
                        {
                            display: flex;
                            gap: 1.5rem;
                            line-height: 1.5;
                        }

                    }
                }
            }

            .lower{
                flex-direction: row;
                gap: 1rem;

                img 
                {
                    width: 50%;
                    
                }

                .u
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 3.0rem;
                    .u2
                    {
                        h1
                        {
                            font-size: 3.4rem;
                        }
                        .paragraphers
                        {
                            display: flex;
                            gap: 1.5rem;
                            line-height: 1.5;
                        }

                    }
                }
            }
        }
        #view4
        {
            
            #tdown
            {
                width: 100%;
                flex-direction: row;
                gap:1rem;
                flex-wrap: nowrap;
                padding-left: 1rem;
                justify-content: start;

                .content
                {
                    width: 100%;
                    border-radius: 1.4rem;
                }
            }
        }

     
        #view5
        {
            display: flex;

            .up 
            {
                width: 90%;
            }
            .down
            {
                padding: 1rem;
                margin-top: 6rem;
                width: 10%;
                white-space: nowrap;
                width: fit-content;
                height: fit-content;
                border-radius: 1rem;
            }
        }

    }
}


@media (min-width:650px)
{
    #view4
    {
        
        #tdown
        {
            width: 100%;
            flex-direction: row;
            gap:1rem;
            flex-wrap: wrap;
            padding-left: 1rem;
            justify-content: start;

            .content
            {
                width: 48%;
                border-radius: 1.4rem;
            }
        }
    }
}